*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: rgb(20, 19, 19);
    position: relative;
    margin: 0;
}

.navbar{
    width: 100%;
    height: 90px;
    background-color: black;
}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-size: x-large;
}

.logo-container{
    flex: 1;
}

.menu-container{
    flex: 6;
}

.menu-list{
    display: flex;
    list-style: none;
}

.menu-list-item{
    margin: 35px;
    cursor: pointer;
}

.profile-container{
    flex: 0.5;
    display: flex;
    align-items: center;
}

.profile-text-container{
    margin: 0 20px;
    cursor: pointer;
}

.profile-picture{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.container{
    background-color: #151515;
    min-height: calc(100vh - 90px - 2559px);
    color: white;
}

.featured-content{
    height: 50vh;
    padding: 50px;
    background: linear-gradient(to bottom,rgba(0,0,0,0), #151515), url('assets/images/duty\ after\ school.png');
    background-size: cover;
    background-position: center;
    font-size: 1.5rem;
}

.featured-title{
    width: 600px;
    height: 50px;
    padding: 30px;
    margin-top: 300px;
    gap: 40px;
    opacity: 0px;
}

.featured-desk{
    width: 900px;
    margin: 20px;
    padding: 30px 0;
}

.info{
    width: 380px;
    height: 45px;
    display: flex;
    margin: 20px;
    justify-content: space-between;
}

.featured-button{
    width: Hug (93px)px;
    height: Hug (42px)px;
    padding: 10px 26px 10px 26px;
    gap: 8px;
    opacity: 0px;
    background: #0F1E93;
    color: white;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: medium;
    cursor: pointer;
}

.featured-info{
    width: 200px;
    height: Fill (45px)px;
    gap: 0px;
    border-radius: 48px;
    opacity: 0px;
    background: #22282A;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 16px;
    border: none;
    outline: none;
    font-size: large;
    cursor: pointer;
}

.umur{
    height: 45px;
    width: 52px;
    border: 1px solid;
    border-radius: 24px;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mute{
    position: absolute;
    right: 5%;
    cursor: pointer;
}

.movie-list-container{
    padding: 70px;
}

.movie-list-container-diri{
    padding: 20px 60px 0 70px;
}

.movie-list-wrapper{
    position: relative;
}

.movie-list-wrapper-diri{
    position: relative;
}

.movie-list{
    display: flex;
    align-items: center;
    height: 300px;
}

.movie-list-diri{
    display: flex;
    align-items: center;
    height: 450px;
}

.movie-list-item{
    margin-right: 35px;
    position: relative;
}

.movie-list-item-diri{
    margin-right: 25px;
    position: relative;
}

.movie-list-item:hover .movie-list-item-img{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}

.movie-list-item-diri:hover .movie-list-item-img-diri{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-rating{
    opacity: 1;
}

.movie-list-item-diri:hover .movie-list-item-title-diri{
    opacity: 1;
}

.movie-list-item-img{
    width: 430px;
    height: 200px;
    object-fit: cover;
    transition: all 0.7s ease-in-out;
    cursor: pointer;
}

.movie-list-item-img-diri{
    width: 250px;
    height: 375px;
    object-fit: cover;
    transition: all 0.7s ease-in-out;
    cursor: pointer;
}

.movie-list-item-new{
    position: absolute;
    top: 10%;
    left: 20px;
}

.movie-list-item-new-diri{
    position: absolute;
    top: 5%;
    left: 20px;
}

.movie-list-item-new-diri-top{
    position: absolute;
    top: 0;
    right: 10px;
}

.movie-list-item-title{
    padding: 0 10px;
    font-size: 24px;
    position: absolute;
    top: 70%;
    left: 20px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.movie-list-item-title-diri{
    padding: 0 10px;
    font-size: 24px;
    position: absolute;
    bottom: 10%;
    left: 20px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.movie-list-item-rating{
    padding: 0 10px;
    font-size: 24px;
    position: absolute;
    top: 70%;
    right: 20px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.arrow{
    font-size: 40px;
    position: absolute;
    top: 130px;
    right: 0px;
    opacity: 0.5;
    cursor: pointer;
}

.arrow-diri{
    font-size: 40px;
    position: absolute;
    top: 200px;
    right: 0px;
    opacity: 0.5;
    cursor: pointer;
}

.arow{
    font-size: 40px;
    position: absolute;
    top: 130px;
    left: 0px;
    opacity: 0.5;
    cursor: pointer;
}

.arow-diri{
    font-size: 40px;
    position: absolute;
    top: 200px;
    left: 0px;
    opacity: 0.5;
    cursor: pointer;
}

.footer-container{
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer{
    width: 1,440px;
    height: 284px;
    background-color: #22282A;
    color: white;
    justify-content: space-between;
    align-items: center;
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 60px 80px 60px 80px;
    grid-template-columns: auto;
}

.footer-heading-footer-1{
    padding: 0 0 30px 0;
}

.footer-heading-footer-1 h5{
    padding: 30px 0;
    font-size: large;
    letter-spacing: 2px;
}

.footer-heading-footer-2{
    gap: 3.5 rem;
    display: grid;
}

.genre{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.footer-heading-footer-2 h5{
    margin-bottom: 1.5rem;
    font-size: 20px;
    position: relative;
}

.footer-heading-footer-3{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-heading-footer-3 h5{
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.footer a {
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
}